<div class="box">
    <mat-card class="card">
      <mat-card-header>
    <!-- <div mat-card-avatar></div> -->
        <mat-card-title>Claims</mat-card-title>
  <mat-card-subtitle>Details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- above is the actual header row for each column (claim id, employee first, etc.) -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- above is the actual data displayed in the columns -->
                <!-- Claim ID Column -->
                <ng-container matColumnDef="claimId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim ID</th>
                  <td mat-cell *matCellDef="let claim" (click)="onSelect(claim)">{{ claim.claimId }}</td>
                </ng-container>
                <!-- Emp first Column -->
                <ng-container matColumnDef="employeeFirst">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee First</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.employee.first }}</td>
                </ng-container>
                <!-- Emp last Column -->
                <ng-container matColumnDef="employeeLast">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Last</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.employee.last }}</td>
                </ng-container>
                <!-- Grade  Column -->
                <ng-container matColumnDef="gradeFormat">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Format</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.grade.gradeFormat }}</td>
                </ng-container>
                <!-- Event Type Column -->
                <ng-container matColumnDef="eventType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.event.eventName }}</td>
                </ng-container>
                <!-- Justification Column -->
                <ng-container matColumnDef="justification">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Justification</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.justification }}</td>
                </ng-container>
                <!-- Cost Column -->
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
                  <td mat-cell *matCellDef="let claim">{{ claim.cost }}</td>
                </ng-container>
              </table>

  <div *ngIf="selectedClaim">
    <h2>{{ selectedClaim.employee.first | uppercase }}</h2>
    <div><span>id: </span>{{selectedClaim.claimId}}</div>
    <div>
      <label>
        <input [(ngModel)]="selectedClaim.employee.first" placeholder="name"/>
      </label>
    </div>
  </div>
      </mat-card-content>
    </mat-card>
  </div>
