.box {
    padding-right: 2rem;
    padding-left: 2rem;
}

h1 {
    background-color: bisque;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}