.navbar {
    background-color: #e3f2fd;
}

.nav-link {
    padding: .5rem 1rem;
    color: gray!important;
    // font-weight: 800;
    font-weight: 900;
    font-size: larger!important;
}

img {
    margin-left: 1rem;
}

.badge-primary {
    color: #333!important;
    font-size: x-large!important;
    font-weight: 900!important;
    background-color: #e3f2fd!important;
}

.name {
    color: white;
    font-size: larger;
    font-weight: 800;
}