.mat-toolbar {
  background-color: coral;
}

.mat-icon {
  color: #333;
}

.crest {
  height: 40px;
  padding-top: 5px;
}

img {
  margin-left: 1rem;
}

.navbar-brand {
  text-decoration: none;
}

.title {
  color: #333;
  font-size: x-large;
  font-weight: 900;
  background-color: coral;
  margin-left: 15px;
}
